{% extends "about/layout.html" %}

{% block body %}

    <h1>EatSleepRepeat</h1>
    
    <h3>น.ส.ณิชชารีย์ คัคนางค์จนันท์ 6210612617</h3>
    <h3>น.ส.อนุรดี บรรดาศักดิ์ 6210612625</h3>
    <h3>น.ส.กชกร สุรินทร์ 6210612674</h3>
    <h3>นายจิรพนธ์ กันภัย 6210612690</h3>
    <h3>นายสิทธิโชค งามพิพัฒน์โชคชัย 6210612815</h3>
    
    
    <h2><a href="https://www.pivotaltracker.com/n/projects/2534291">Pivotal Tracker</a></h2>
    
    <h2><a href="https://github.com/6210612690/EatSleepRepeat">Github Repo</a></h2>
    
    
    

{% endblock %}